/* Global Styles */
body {
    background-image: url("../images/geometry.png")
}

h1 {
    font-family: "Rammetto One", cursive;
    text-align: center;
}

h3 {
    text-align: center;
}

h4, h5 {
    color: #fff;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #E80C7A;
    font-weight: bold;
}

/* Gif Display Styles */
#gifs-appear-here {
    text-align: center;
}

.display-gifs {
    display: inline-block;
    background-color: #fff;
    margin: 15px;
    padding: 10px;
    text-align: left;
    border: 1px solid #333;
}

.display-gifs img {
    padding-bottom: 10px;
}

.display-gifs a {
    color: #000;
}

.display-gifs a:hover {
    color: #E80C7A;
}

.gifs:hover {
    cursor: pointer;
}

/* Search and Tag Column Styles */
.search-col {
    position: fixed;
    right: 0;
    background-color: #E80C7A;
    height: 100vh;
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 25px;
}

.btn {
    border-radius: 25px;
}

.tags {
    color: #fff;
    background-color: #7F2D56;
    border: none;
    margin: 2px;
    padding: 5px;
}

.tags:hover {
    background-color: #CC0B6B;
}

/* Footer Styles */
footer {
    padding: 20px;
    text-align: center;
}

footer a {
    color: #000;
}
